@import 'utilities/mixins';

.about {
  background-color: $bkg-color-primary;
  color: white;
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0 0 50px;
  padding: 20px auto;

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    
    .content{
      margin: 0 20px;
      width: 100%;
      height: auto;
    }

    #google-trust {
      margin-top: 65px
    }

    .star {
      height: 50px;
    }

    @media (min-width: $bkpoint-md) {
      flex-direction: row;
    }
  }

  .btn-layout {
    margin-top:auto;
    display: block;
  }

  button {
    @include btn($bkg-color-secondary);
  }

  button:hover {
    background-color: darken($color: $bkg-color-secondary, $amount: 20%);
  }

  #g-reviews {
    @include btn(cornflowerblue);
  }

  #t-reviews {
    @include btn(mediumseagreen);
  }

  .arrow {
    height: 20px;
    display: inline-block;
    margin-left: 8px;
  }
}

