@import 'utilities/mixins';

.about {
  background-color: $bkg-color-primary;
  color: white;
  font-size: 1rem;
  line-height: 1.4;
  margin: 0 0 50px;
  padding: 0 50px;

  @media screen and (max-width: $bkpoint-sm) {
    padding: 0;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    strong {
      font-weight: 600;
    }

    @media screen and (min-width: $bkpoint-lg) {

      .about-section-1, .about-section-2 {
        width: 600px;
      }
    }

    @media screen and (min-width: $bkpoint-md) {

      .about-section-1, .about-section-2 {
        width: 485px;
      }
    }
    
    .content{
      width: 100%;
      height: auto;
      padding: 0 10px;

      p {
        line-height: 1.875rem;
        margin-bottom: 25px;
      }
      
      h2 {
        font-size: 2.25rem;
        font-weight: 400;
      }

      #quote {
        font-size: 1.1rem;
        color: #a3a8ac;
        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .about-section-1 .btn-layout {
      #choose-us {
        margin-right: 8px;
      }
    }

    .about-section-2 {

      div>p {
        font-weight: 600;
        font-size: 1.3rem;
      }
    }

    #google-trust {
      a {
        margin-top: 25px;
      }
      margin-top: 55px;

      @media (max-width: $bkpoint-md) {
        margin-top: -20px;
        margin-bottom: 20px;
      }
    }

    .fa-star {
      font-size: 40px;
      color: orange;
      margin-right: -5px;
    }

    @media (min-width: $bkpoint-md) {
      flex-direction: row;
    }
  }

  .btn-layout {

    a {
      @include btn(#272936);
      display: inline-block;
      height: auto;
      border-radius: 6px;
      margin: 5px 0;
      padding: 10px 30px;
      font-size: 20px;
      color: white;
      text-decoration: none;

      &:first-child {
        margin-bottom: 15px;
      }

      &:hover {
        background-color: #121318;
        border-color: #121318;
      }
    }
  }

  #g-reviews {
    @include btn(#4387f6);
    margin-right: 10px;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;

    &:hover {
      background-color: #166af4;
      border-color: #166af4;
    }
  }

  #t-reviews {
    @include btn(#00b67b);
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 20px;
    margin-top: 20px;
    max-width: fit-content;
    

    &:hover {
      background-color: #009b69;
      border-color: #009b69;
    }

    @media screen and (max-width: $bkpoint-sm) {
      margin-top: 15px;
    }
  }

  @media (max-width: $bkpoint-sm) {

    .paragraph {
      margin-right: 30px;
      margin-left: auto;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.container {
  padding: 0;
  @media screen and (max-width: $bkpoint-sm) {
    margin: 0;
    padding: 0 5px 25px;
  }
}

