.banner {
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../img/banner-pic-1.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;

  .banner-text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 1.3em;
    top:100px;

    @media (min-width: $bkpoint-md) {
      top: 60px;
      h1 {
        font-size: 2.6em;
        width: 80%;
        margin: 0;
      }
      text-align: left;
      p {
        width: 70%
      }
    }
  }

  button{
    @include btn(#926FB1);
  }
}