.banner {
  background-image: linear-gradient(270deg, transparent 25%, #000), url(../img/home-YLei.webp);
  background-size: cover;
  background-position: center;
  height: 550px;

  .banner-text {
    position: relative;
    text-align: center;
    vertical-align: top;
    color: white;
    top:100px;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      line-height: 3rem;
      margin: 0;
    }

    p {
      font-size: 1.25rem;
      font-weight: 600;
      line-height: 1.75rem;
    }
    
    i {
      margin-left: 5px;
    }


    @media (min-width: $bkpoint-md) {
      top: 60px;
      h1 {
        font-size: 4rem;
        line-height: 5rem;
        //width: 80%;
        margin-bottom: 20px;
      }
      text-align: left;
      p {
        margin-bottom: 0.375rem;
        //width: 70%;
        font-size: 1.625rem;
        line-height: 2.5rem;
      }
    }

    @media (max-width: $bkpoint-sm) {
      h1 {
        margin: 0;
      }
      top: 120px;
    }
  }

  button{
    @include btn(#926FB1);
    &:hover {
      background-color: #7e57a0;
      border-color: #735093;
    }
    font-size: 1.25rem;
    margin-top: 1.938rem;
    margin-bottom: 1.125rem;

    a>i {
      margin-left: 12px;
    }
    padding: 5px 20px;
    line-height: 50px;
  }

  @media screen and (max-width: $bkpoint-sm) {
    margin-top: -25px;
  }
}

.container {
  @media screen and (min-width: $bkpoint-lg) {
    width: 1200px;
  }
}