.clients {
  padding: 20px 0 0;
  overflow-x: auto;

  .clients-row {
    display: block;
    text-wrap: nowrap;

    .client {
      margin: 40px;
      filter: grayscale(1);
    }

    .client:hover {
      filter: grayscale(0);
    }

    .item {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: auto;

      .tooltip {
        display: none;
        //position: absolute;
        bottom: 100%;
        right: -200px;
        left: -200px;
        z-index: 5;

        .description {
          background-color: #333645;
          color: white;
          padding: 20px;
          font-size: .875rem;
          max-width: 280px;
          margin: 0 auto 50px;

          p {
            font-size: .8125rem;
            line-height: 1.375rem;
            margin-bottom: 0;
          }

          .client-btn {
            @include btn(#926fb1);
            margin-top: 11px;
            font-size: 1rem;
            display: flex;


          }
        }
      }

      // &:hover {
      //   .tooltip {
      //     display: block;
      //   }
      // }
    }
  }
}