.clients {
  padding: 50px 0;

  .clients-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 0;
    overflow-x: clip;
    
    .item {
      width: auto;
      margin-right: 50px;
      filter: grayscale(1);
      padding: 0 20px;
      height: 70px;
      max-height: 70px;

      &:hover {
        filter: grayscale(0);
      }

      .picture {
        position: relative;
        width: auto;
        max-height: 70px;
        height: 70px;
        max-width: 240px;
        display: flex;
        align-items: center;

        .client {
          display: block;
          max-width: 240px;
          width: 100%;
          max-height: 70px;
        }
      }

      .description {
        z-index: 9;
        display: none;
        position: absolute;
        right: -200px;
        left: -200px;
        bottom: 100%;

        .box {
          text-wrap: wrap;
          text-align: center;
          background-color: #333645;
          color: white;
          padding: 20px;
          font-size: .875rem;
          max-width: 280px;
          margin: 0 auto 50px;

          h3 {
            position: relative;
            font-size: 1.125rem;
            color: #fff;
            padding-bottom: 17px;
            margin: 0;
            font-weight: 400;
          }

          p {
            font-size: .8125rem;
            line-height: 1.375rem;
            margin-bottom: 0;

            a {
              text-decoration: none;
              color: white;
              font-weight: 600;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          .client-btn {
            @include btn(#926fb1);
            margin-top: 11px;
            font-size: 1rem;
            display: flex;

            &:hover {
              background-color: #7e57a0;
              border-color: #735093;
            }

            i {
              margin-left: 5px;
              margin-top: 3px;
            }
          }

          #blk-swan {
            background-color: #f7b322;
            border: 1px solid #f7b322;

            &:hover {
              background-color: #e8a008;
              border-color: #d49308;
            }
          }

          #girl-guide {
            background-color: #4183d7;
            border: 1px solid #4183d7;

            &:hover {
              background-color: #2a6ec6;
              border-color: #2665b5;
            }
          }

          #gdst {
            background-color: #2ecc71;
            border-color: #2ecc71;

            &:hover {
              background-color: #26ab5f;
              border-color: #26ab5f
            }
          }

          .arrow {
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -36px;

            &::after {
              content: "";
              margin: auto;
              display: inline-block;
              border-color: #333645 transparent transparent;
              border-style: solid;
              border-width: 35px 36px 0;
            }
          }
        }
      }

      &:hover {
        .description {
          display: block;
        }
      }
    }
  }
}