footer {
  background-color: $bkg-color-primary;
  color: white;
  padding: 15px 0 0;
  position: relative;

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between;

    h4 {
      font-weight: 400;
    }

    .footer-menu {
      width: 400px;
      padding-left: 15px;
      img {
        vertical-align: middle;
        max-width: 100%;
        width: 320px;

        @media (max-width: $bkpoint-sm) {
          padding-left: 0;
          width: 250px;
          height: 50px;
        }
      }
      @media (max-width: $bkpoint-sm) {
        padding-left: 0;
      }
    }

    .menus {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      width: 800px;

      .footer-menu {
        flex: 0 0 auto;
        margin-bottom: 30px;
        line-height: 1rem;
        flex-grow: 1;
        padding-right: 15px;
        padding-left: 15px;
        width: 200px;
        h4 {margin-top: 0;}

        ul {
          padding-right: 0;
          padding-left: 0;
          margin: 0;

          li {
            display: block;
            text-align: left;
            line-height: 1.375rem;
            font-size: 0.8125rem;
          }
        }

        @media (min-width: $bkpoint-lg) {
          margin-bottom: 40px;
        }

        @media (min-width: $bkpoint-sm) and (max-width: $bkpoint-md) {
          width: 75%;
          flex: 50%;
        }

        @media (max-width: $bkpoint-sm) {
          width: 100%;
          margin-bottom: 30px;
          padding-left: 0;
        }

        h4 {
          text-transform: uppercase;
          font-size: 1rem;
          margin-bottom: 26px;
        }
      }
    }

    #logos {

      .socials-grid {
        max-width: 100%;
        margin-bottom: 30px;

        a {
          width: auto;
        }

        @media screen and (min-width: $bkpoint-lg) {
          margin-bottom: 0;
        }
      }
    }
  }

  .copyright {
    display: flex;
    background-color: #212330;
    padding: 10px 0 10px 15px;
    line-height: 0.2em;
    font-size: 0.8125rem;

    #copy {
      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    #sitemap {
      margin-left: 5px;

      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    #rights {
      margin-left: 5px;

      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    .details {
      display: flex;

      @media (max-width: $bkpoint-sm) {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }

      a {
        margin: 13px 8px;

        @media screen and (max-width: $bkpoint-sm) {
          margin: 0;
        }
      }

      &:last-child>#visible-xs {
        display: inline;
        margin-left: 5px;

        @media screen and (max-width: $bkpoint-sm) {
          display: none;
        }
      }
    }

    .container {
      @media screen and (max-width: $bkpoint-sm) {
        padding: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .socials-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    a {
      text-align: center;
      text-decoration: none;
      font-size: 26px;
      line-height: 26px;
      padding: 16px 18px 16px;
      background-color: #212330;
      margin-right: 7px;

      @media screen and (max-width: 480px) {
        padding: 12px 38px 16px;
        width: 35%;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }

    #facebook:hover {
      background-color: #3b5998;
    }

    #linkedin:hover {
      background-color: #0077b5;
    }

    #twitter:hover {
      background-color: #00aced;
    }

    #instagram:hover {
      background-color: #d93175;
    }
  }
}