footer {
  background-color: $bkg-color-primary;
  color: white;
  padding: 15px 0 0;
  position: relative;

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content:space-between;

    h4 {
      font-weight: 400;
    }

    .menus {
      flex-direction: row;
      padding-bottom: 20px;
    }

    .footer-menu {
      flex: 100%;
      margin-bottom: 10px;
      line-height: 1rem;

      #footer-logo {
        width: 90%;
        margin-bottom: 10px;

        @media (min-width: $bkpoint-sm) {
          width: 50%;
        }

        @media (min-width: $bkpoint-lg) {
          width: 70%;
        }
      }

      @media (min-width: $bkpoint-sm) {
        flex: 50%;
        p {
          line-height: 0.8rem;
        }
      }

      @media (min-width: $bkpoint-md) {
        flex: 25%;
        p {
          line-height: 1.1rem;
        }
      }

      @media (min-width: $bkpoint-lg) {
        margin-bottom: 40px;
        p {
          line-height: 1rem;
          font-size: 0.8rem;
        }
      }

      h4 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 26px;
      }
    }
  }

  .copyright {
    display: flex;
    background-color: #212330;
    padding: 10px 0 10px 15px;
    line-height: 0.2em;

    #copy {
      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    #sitemap {
      margin-left: 5px;

      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    #rights {
      margin-left: 5px;

      @media (max-width: $bkpoint-sm) {
        margin-left: -10px;
      }
    }

    .details {
      display: flex;;

      @media (max-width: $bkpoint-sm) {
        display: block;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  li {
    display: block;
    text-align: left;
  }

  .socials-grid {
    display: grid;
    grid-template-columns: 5em 5em 5em 5em;
    grid-gap: 2px;

    .social-icon {
      background-color: #212330;
      padding: 30px 20px 10px 20px;
    }

    #facebook:hover {
      background-color: #3b5998;
    }

    #linkedin:hover {
      background-color: #0077b5;
    }

    #twitter:hover {
      background-color: #00aced;
    }

    #instagram:hover {
      background-color: #d93175;
    }
  }

  p {
    line-height: 0.4em;
  }

}