.header-bar {
  padding: 20px 0;
  align-items: center;

  .header-items {
    display: flex;

    .header-left {
      flex-grow: 1;
      height: 70px;
      width: 402px;

      @media (max-width: $bkpoint-sm) {
        flex-direction: column;
        width: 50%;
      }

      img {
        vertical-align: middle;
        width: 100%;

        @media (max-width: $bkpoint-sm) {
          width: 260px;
          height: 505x;
        }
      }
    }

    .header-right {
      i {
        display: inline;
      }
      display: flex;
      flex-grow: 2;
      justify-content: space-between;
      margin-left: 50px;
      align-items: center;

      #support-btn {
        @include btn(#4183d7);
        padding: 5px 15px;        
        font-size: 1.15em;
        border-radius: 3px;
        line-height: 46px;
        height: 56px;

        &:hover {
          background-color: #2a6ec6;
          border-color: #2a6ec6;
        }

        i {
          font-size: 1.2rem;
          margin-right: 10px;
        }

        @media (max-width: $bkpoint-md) {
          display: none;
        }
      }

      #contact-btn {
        @include btn(#999AA2);
        padding: 5px 15px;        
        font-size: 1.15rem;
        border-radius: 3px;
        line-height: 46px;
        height: 56px;
        margin-left: 20px;

        &:hover {
          background-color: #84858f;
          border-color: #84858f;
        }

        i {
          font-size: 1.2rem;
          margin-right: 10px;
        }

        @media (max-width: $bkpoint-md) {
          display: none;
        }
      }

      form {
        display: flex;
        margin-left: 20px;

          #search-btn {
            @include btn(#999AA2);
            font-size: 1.063rem;
            border-radius: 0 3px 3px 0;
            padding: 7px 20px 3px; 
            height: 56px;
            vertical-align: bottom;
            i {
              font-size: 23px;
            }

            &:hover {
              background-color: #7e808a;
            }

            @media (max-width: $bkpoint-lg) {
              align-self: center;
              border-radius: 3px;
            }

            @media (max-width: $bkpoint-md) {
              border-radius: 0 3px 3px 0;
            }
          }

        #search-box {
          display: inline-block;
          margin: auto 0;
          font-size: 14px;
          border: 1px solid #ccc;
          line-height: 1.428px;
          padding: 5px 15px; 
          height: 56px;
          width: 240px;

          &:focus {
            border-color: #5bc0de;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
          }

          @media (min-width: $bkpoint-md) and (max-width: $bkpoint-lg) {
            display: none;
          }

          @media (max-width: $bkpoint-md) {
            width: 174px;
          }
        }

        @media (max-width: $bkpoint-sm) {
          display: none;
        }
      }

      #hamburger {
        @include btn(#333645);
        padding: 5px 15px;
        border-radius: 3px;
        height: 56px;
        line-height: 46px;
        margin-left: 20px;

        &:hover {
          background-color: #22242e;
          border-color: #191a22;
        }

        i {
          font-size: 2.1rem;
          margin: 0;
          vertical-align: middle;
        }

        @media (max-width: $bkpoint-lg) {
          
        }

        @media (max-width: $bkpoint-sm) {
          float: right;
          border-radius: 3px;
        }


        @media (max-width: $bkpoint-md) {
        }
      }

      #contact-sm {
        border: none;
        background: none;
        cursor: pointer;

        i {
          position: absolute;
          right: 100px;
          top: 40px;
          font-size: 25px;
          &:hover {
            text-decoration: underline;
          }
        }

        @media (min-width: $bkpoint-sm) {
          display: none;
        }
      }

      @media (max-width: $bkpoint-lg) {
        //display: inline-flex;
      }

      @media (max-width: $bkpoint-sm) {
        display: inline;
      }
    }
  }

  .search-sm {
    width: 100%;

    #search-box-sm {
      background-color: rgba(0, 0, 0, .1);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      width: 100%;
      font-size: 14px;
      border: 2px solid rgba(0, 0, 0, .1);
      padding: 5px 15px;
      //margin-bottom: -15px;
      border-radius: 2px;
      height: 47px;

    }

    #search-btn-sm {
      display: inline;
      border: none;
      background: none;
      cursor: pointer;
      margin-bottom: -15px;

      i {
        position: absolute;
        top: 108px;
        right: 25px;
        line-height: 10px;
        font-size: 20px;
        margin: auto 0;
        color: #333645;
      }
    }

    @media (min-width: $bkpoint-sm) {
      display: none;
    }
  }

  @media (max-width: $bkpoint-md) {
    // margin-bottom: -28px;
  }
}