body {
  margin: 0;
  height: 100%;
  max-width: 100%;
  letter-spacing: .4px;
  color: #666;

  &.overflow-hidden {
    overflow: scroll;
  }

  #open-sidebar {
    position: fixed;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    z-index: 11;
    display: block;
  }

  #container {
    background-color: #fff;
    position: relative;
    z-index: 10;
    transition: all .5s;
    left: 0;

    &::after {
      width: 100%;
      height: 100%;
      opacity: 1;
    }

    &.active {
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        background: rgba(0,0,0,.4);
        width: 100%;
        height: 100%;
        z-index: 10;
        top: 0;
        right: 0;
      }
    }
  }
  
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $bkpoint-sm) {
    width: 750px;
  }

  @media (min-width: $bkpoint-md) {
    width: 970px;
  }
  @media (min-width: $bkpoint-lg) {
    width: 1200px;
  }

}
