body {
  margin: 0;
  height: 100%;
  letter-spacing: .4px;
  color: #666;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $bkpoint-sm) {
    width: 750px;
  }

  @media (min-width: $bkpoint-md) {
    width: 970px;
  }
  @media (min-width: $bkpoint-lg) {
    width: 1200px;
  }
  
}
