.nav-bar {
  background-color: $bkg-color-primary;
  color: white;
  text-align: center;
  width: 100%;


  .navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 10;

    .nav-item {
      cursor: pointer;
      z-index: 10
    }

    a {
      color: white;
      z-index: 10;
    }

    .main-nav {
      display: block;
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 1;
      text-transform: uppercase;
      z-index: 10;

      small {
        font-size: .625rem;
      }
    }

    .nav-submenu-h1 {
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      unicode-bidi: isolate;
      width: 100%;
    }

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style-type: none;
      flex-grow: 1;
      width: 14.28571%;
      z-index: 10;

      a {
        padding: 20px 0;
      }

      h1 {
        text-wrap: nowrap;
        font-weight: 550;
        margin: -5px 0;
      }

      h2 {
        margin: -5px;
        font-weight: lighter;
      }
    }

    #c-and-d-nav, #c-and-d-nav-stk {
      z-index: 10;
      @include nav-submenu($c-and-d-color, #526781);
      div {
        margin-top: 0;
      }
      &:hover {
        &::before {
          @media screen and (max-width: $bkpoint-lg) {
            transform: translateX(-50%) translateY(342%);
          }
        }
      }
    }

    #it-nav, #it-nav-stk {
      @include nav-submenu($it-color, #286abd);
    }

    #dm-nav, #dm-nav-stk {
      @include nav-submenu($dm-color, #25a25a);
    }

    #ts-nav, #ts-nav-stk {
      @include nav-submenu($ts-color, #bc2c28);
    }

    #web-dev-nav, #web-dev-nav-stk {
      @include nav-submenu($web-dev-color, #79539a);
    }

    #cyber-sec-nav, #cyber-sec-nav-stk {
      @include nav-submenu($cyber-sec-color, #de093f);
    }

    #dev-course-nav, #dev-course-nav-stk {
      @include nav-submenu($dev-course-color, #a3331d);
    }
  }

  @media (max-width: $bkpoint-md) {
    display: none;
  }
}



