.nav-bar {
  background-color: $bkg-color-primary;
  color: white;
  text-align: center;
  width: 100%;

  .navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style-type: none;
      padding: 25px 10px;
      flex-grow: 1;
      width: 14.28571%;

      h1 {
        text-wrap: nowrap;
        font-weight: 550;
        margin: -5px 0;
      }

      h2 {
        margin: -5px;
        font-weight: lighter;
      }

      a {
        color: white;
        text-decoration: none;
        font-size: 1.1em;
        font-weight: lighter;
      }
    }

    #c-and-d-nav {
      @include nav-submenu($c-and-d-color);
    }

    #it-nav {
      @include nav-submenu($it-color);
    }

    #dm-nav {
      @include nav-submenu($dm-color);
    }

    #ts-nav {
      @include nav-submenu($ts-color);
    }

    #web-dev-nav {
      @include nav-submenu($web-dev-color);
    }

    #cyber-sec-nav {
      @include nav-submenu($cyber-sec-color);
    }

    #dev-course-nav {
      @include nav-submenu($dev-course-color);
    }
  }

  @media (max-width: $bkpoint-md) {
    display: none;
  }
}



