.nav-bar {
  background-color: $bkg-color-primary;
  color: white;
  text-align: center;
  width: 100%;


  .navigation {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    z-index: 10;

    a {
      color: white;
      z-index: 10;
    }

    #main-nav {
      display: block;
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 1;
      text-transform: uppercase;

      small {
        font-size: .625rem;
      }
    }

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      padding: 20px 10px;
      list-style-type: none;
      flex-grow: 1;
      width: 14.28571%;

      h1 {
        text-wrap: nowrap;
        font-weight: 550;
        margin: -5px 0;
      }

      h2 {
        margin: -5px;
        font-weight: lighter;
      }
    }

    #c-and-d-nav {
      @include nav-submenu($c-and-d-color, #526781);
    }

    #it-nav {
      @include nav-submenu($it-color, #286abd);
    }

    #dm-nav {
      @include nav-submenu($dm-color, #25a25a);
    }

    #ts-nav {
      @include nav-submenu($ts-color, #bc2c28);
    }

    #web-dev-nav {
      @include nav-submenu($web-dev-color, #79539a);
    }

    #cyber-sec-nav {
      @include nav-submenu($cyber-sec-color, #de093f);
    }

    #dev-course-nav {
      @include nav-submenu($dev-course-color, #a3331d);
    }
  }

  @media (max-width: $bkpoint-md) {
    display: none;
  }
}



