.news {
  @include view-link-bottom;
  margin-bottom: -50px;

  i {
    color: black;
    font-size: 1.5rem;
  }

  .news-head {
    @include view-link;
    h1 {
      margin-top: 10px;
      font-size: 1.625em;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    h2 {
      margin-top: 20px;
      display: inline-block;
      font-size: 2.25em;
      font-weight: 600;
      color: #333645;
    }
  }

  .articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: 100%;

    .article>.article-details>.author>.posted-by>strong {
      color: #333645;
      font-weight: 600;
      line-height: 1.375rem;
    }

    .article>.article-details>.author {
      font-size: 0.875rem;
    }

    .article>.img-container {
      position: relative;
      .category {
        color: white;
        background-color: #67809f;
        position: absolute;
        right: 0;
        font-size: 0.75rem;
        padding: 0 10px;
        line-height: 1.438rem;
        text-transform: uppercase;
        z-index: 1;
        top: 10px;
        font-weight: 600;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    div {
      margin: 0;
    }

    #article-3 {

      h4 {color: $it-color}

      .img-container>.category {
        background-color: $it-color;
      }

      #author {
        color: #333645;
        font-weight: 600;
      }


      .read-more {
        @include btn($it-color);
        font-size: 1.063rem;
        padding: 5px 15px;
        line-height: 35px;
        border-radius: 3px;

        &:hover {
          background-color: $it-color;
        }
      }

      @media (min-width: $bkpoint-sm) and (max-width: $bkpoint-lg) {
        display: none;
      }
    }

    .article {
      width: 100%;
      height: 100%;
      flex: 100%;
      font-size: 0.8125rem;
      box-shadow: 0 3px 35px rgba(0,0,0, .1);
      border: 1px solid rgba(0,0,0, .2);
      margin: 0 0 30px;
      transition: transform 0.5s;

      a {
        text-decoration: none;
      }

      h4 {
        color: #67809f;
        font-weight: 600;
        font-size: 1rem;
      }

      p {
        font-size: .8125rem;
        color: #666;
      }

      &:hover {
        transform: translate(0, -10px);
        cursor: pointer;
      }

      img {
        width: 100%;
      }

      .read-more {
        @include btn(#f7b322);
        display: inline-block;
        font-size: 1.063rem;
        padding: 5px 15px;
        line-height: 35px;
        border-radius: 3px;
        &:hover {
          background-color: #f7b322;
        } 
      }
      
      @media (min-width: $bkpoint-sm) {
        flex: 25%;
        height: 80%;
        margin: 0 15px;;

      }

      @media (min-width: $bkpoint-md) {
        flex: 25%;
        height: 100%;
      }

      @media (min-width: $bkpoint-lg) {
        height: 100%;
      }
    }

    .article-details {

      padding-bottom: 50px;
      margin-left: 30px;
      margin-right: 60px;
    }

    .author {
      padding-top: 25px;
      border-top: solid 1px rgba(0,0,0, .2);
      margin-top: 25px;
      display: flex;
      img {
        width: auto;
        height: 50%;
        border-radius: 100%;
      }

      .posted-by {
        padding-left: 20px;
        h4 {
          margin: 0;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.container {
  @media screen and (max-width: $bkpoint-sm) {
    padding: 0 15px;
  }
}