.partners {
  padding: 10px 0 0;
  overflow-x: auto;

  .partners-row {
    display: block;
    text-wrap: nowrap;

    .partner {
      margin: 40px;
      filter: grayscale(1);
    }

    .partner:hover {
      filter: grayscale(0);
    }
  }
}