.partners {
  padding: 50px 0;

  .partners-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 0;
    overflow-x: clip;

    .partner-item {
      width: auto;
      margin-right: 50px;

      .picture {
        padding: 0 20px;
        position: relative;
        max-height: 70px;
        height: 70px;
        width: auto;
        display: flex;
        align-items: center;

        .partner {
          filter: grayscale(1);
          display: block;
          max-width: 100%;
          width: 100%;
          height: 100%;
        }

        .partner:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}