@import 'utilities/mixins';

.services {
  color: black;

  .service-header {
    display: inline;
  }

  .service-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;

    @media (max-width: $bkpoint-md) {
      grid-template-columns: 1fr;
    }

    .service-item {
      border: 1px solid black;
      border-radius: 10px;
      padding: 30px;

      #c-and-d {
        display: inline-block;
        @include btn($c-and-d-color);
      }

      #it-s {
        display: inline-block;
        @include btn($it-color);
      }

      #digital-m {
        display: inline-block;
        @include btn($dm-color);
      }
    }
  }

  .service-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    margin-top: 30px;

    @media (max-width: $bkpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $bkpoint-sm) {
      grid-template-columns: 1fr;
    }

    .service-item {
      border: 1px solid black;
      border-radius: 10px;
      padding: 30px;

      #telecoms {
        display: inline-block;
        @include btn($ts-color);
      }

      #web-dev {
        display: inline-block;
        @include btn($web-dev-color);
      }

      #cyber-sec {
        display: inline-block;
        @include btn($cyber-sec-color);
      }

      #dev-course {
        display: inline-block;
        @include btn($dev-course-color);
      }
    }
  }
}