@import 'utilities/mixins';

.services {
  color: black;

  .service-header {
    display: inline;

    h1 {
      font-weight: lighter;
    }

    #view-work {
      float: right;
      margin: auto 0;
    }
  }

  .service-grid {
    margin-top: 50px;

    .service-grid-1 {
      @include service-grid(1fr 1fr 1fr);

      @media (max-width: $bkpoint-md) {
        grid-template-columns: 1fr;
      }

      #cd-service {
        @include service-item($c-and-d-color);
      }

      #it-service {
        @include service-item($it-color);
      }

      #dm-service {
        @include service-item($dm-color);
      }
    }

    .service-grid-2 {
      @include service-grid(1fr 1fr 1fr 1fr);

      @media (max-width: $bkpoint-lg) {
        grid-template-columns: 1fr 1fr;
      }

      @media (max-width: $bkpoint-sm) {
        grid-template-columns: 1fr;
      }

      #ts-service {
        @include service-item($ts-color);
      }

      #wd-service {
        @include service-item($web-dev-color);
      }

      #cs-service {
        @include service-item($cyber-sec-color);
      }

      #dev-service {
        @include service-item($dev-course-color);
      }
    }
  }
}