@import 'utilities/variables';
@import 'layout';
@import 'footer';
@import 'about';
@import 'banner';
@import 'services';
@import 'partners';
@import 'clients';
@import 'nav';
@import 'news';
@import 'header';
@import 'sidebar';
@import 'cookies';