@mixin btn($color) {
  padding: 12px 10px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: $color;
  border: 1px solid $color;
  color: white;
  font-size: 1.05em;
  text-transform: uppercase;
  &:hover {
    background-color: darken($color: $color, $amount: 20%);
  }
}