@mixin btn($color) {
  a {
    color: unset;
    text-decoration: unset;
  }
  padding: 12px 10px;
  margin: 5px 0;
  border-radius: 3px;
  background-color: $color;
  border: 1px solid $color;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  @content;
  &:hover {
    background-color: darken($color: $color, $amount: 20%);
  }
}

@mixin service-item($color) {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 35px rgba(0,0,0, .1);
  border: 1px solid rgba(0,0,0, .2);
  border-radius: 10px;
  padding: 30px;
  transition: background-color 0.5s, transform 0.5s;
  height: 100%;

  h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 5px 0;
    line-height: 1.1;
  }

  p {
    color: #666;
    font-size: .8125rem;
    font-weight: 400;
    margin: 20px 0;
  }

  .icon {
    height: 65px;
    width: 65px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: $color;


    i {
      margin-top: 17px;
      color: white;
      font-size: 30px;
    }
  }
  &>button {
    @include btn($color) {
      margin: auto;
    }
  }
  &:hover {
    background-color: $color;
    color: white;
    transform: translate(0, -10px);

    &>button {
      background-color: white;
      border-color: white;
      color: $color;
    }

    .icon {
      background-color: white;

      i {
        margin-top: 15px;
        color: $color;
        font-size: 30px;
      }
    }
  }
}

@mixin service-grid($rows) {
  display: grid;
  grid-template-columns: $rows;
  grid-gap: 30px;
  text-align: center;
  margin-top: 30px;
  height: 100%;
}

@mixin nav-submenu($color, $bk-color) {

  i {
    font-size: 22px;
    margin-bottom: 5px;
    color: $color;
  }

  h2 {
    font-size: 1em;
  }

  div {
    background-color: $bk-color;
    display: none;
    position: absolute;
    top: 25%;
    left: 0;
    padding: 50px 0;
    z-index: 1;
    width: 100%;
    text-align: left;

    @media (min-width: $bkpoint-lg) {
      top: 24%;
    }

    li {
      width: 33%;
      margin: -5px 0;
      font-weight: bold;
      a {
        display: flex;
        text-decoration: none;
        i {
          margin-right: 10px;
        }
      }
    }
  }
  &:hover {
    background-color: $color;
    height: 120px;

    i {
      color: white;
    }

    &::before {
      content: "";
      position: absolute;
      border-width: 35px 68px 0;
      z-index: 2;
      border-style: solid;
      border-color: $color transparent transparent;
      transform: translateX(-40%) translateY(225%);

      @media (min-width: $bkpoint-lg) {
        transform: translateX(-40%) translateY(205%);
      } 
    }

    div {
      display:block;

      li>h2:hover {
        text-decoration: underline;
      }
    }

  }
}

@mixin view-link {
  h1 {
    margin-top: 50px;
    float:right;
    color: $heading-color;
    font-size: 2.5em;
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }

    i {
      margin-left: 5px;
    }

    a {
      text-decoration: none;
      color: $heading-color;
    }

    @media (max-width: $bkpoint-sm) {
      display: none;
    }
  }
}

@mixin view-link-bottom {

  .container>h1 {
    a {
      color: $heading-color;
      text-decoration: none;
      font-weight: 600;
      font-size: 1.8rem;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      margin-left: 5px;
    }

    text-align: center;
    @media (min-width: $bkpoint-sm) {
      display: none;
    }
  }
}