$bkg-color-primary: #323544;
$bkg-color-secondary: #212330;

$bkpoint-sm: 768px;
$bkpoint-md: 992px;
$bkpoint-lg: 1260px;

$c-and-d-color: #F7B322;
$it-color: #6495ed;
$dm-color: #3cb371;
$ts-color: #D64541;
$web-dev-color: #926FB1;
$cyber-sec-color: #F62459;
$dev-course-color: #CE4125;

