$bkg-color-primary: #323544;
$bkg-color-secondary: #212330;

$bkpoint-sm: 767px;
$bkpoint-md: 992px;
$bkpoint-lg: 1260px;

$c-and-d-color: #67809f;
$it-color: #4183d7;
$dm-color: #2ecc71;
$ts-color: #D64541;
$web-dev-color: #926FB1;
$cyber-sec-color: #F62459;
$dev-course-color: #CE4125;

$heading-color: #333645;

